<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="signin.css">
    
</head>
<body>
    <div class="root">
        <div id="rj-tost"></div>
        <div class="auth-options">
            <h2>Get Started Now</h2>

            <form action="#" class="formcont">
                <label for="name">
                    <p class="label">Name</p>
                    <input class="inp name" required type="text" name="name" placeholder="Enter your Name">
                </label>

                <label for="email">
                    <p class="label">Email address</p>
                    <input class="inp email" required type="email" name="email" placeholder="Enter your email">
                </label>

                <label for="pass">
                    <p class="label">Password</p>
                    <input class="inp pass" required type="password" name="pass" placeholder="password">
                </label>

                <div class="tmc-container">
                    <input type="radio" id="tmc">
                    <p class="label-tmc">I agree to the terms & policy</p>
                </div>

                <button class="sub-btn" type="submit">
                    Signup
                </button>
            </form>
        </div>
        <div class="feature-image">
            <img class="image" src="https://images.rawpixel.com/image_social_landscape/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk5MC0wNWEta3MwMXF5bGQuanBn.jpg" alt="hero-image">
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>